version=版本=String
uptime=服务器已经运行的秒数=String
pointer_size=操作系统的指针大小=String
rusage_user=进程的累计用户时间=String
rusage_system=进程的累计系统时间=String
curr_items=当前存储的items数量=String
total_items=从服务器启动以后存储的items总数量=String
bytes=当前服务器存储items占用的字节数=String
curr_connections=当前打开着的连接数=String
total_connections=总共打开过的连接数=String
connection_structures=服务器分配的连接构造数=String
cmd_get=get请求次数=String
cmd_set=set请求次数=String
get_hits=总命中次数=String
get_misses=总未命中次数=String
evictions=为获取空闲内存而删除的items数=String
bytes_read=总读取字节数（请求字节数）=String
bytes_written=总发送字节数（结果字节数）=String
limit_maxbytes=分配给memcache的内存大小=String
threads=当前线程数=String